#ifndef CONFIG_HPP
#define CONFIG_HPP

#define AMBIENT_CHNNEL_ID 00000
#define AMBIENT_WRITE_KEY "XXX"
#define SSID "XXX"
#define PASS "XXX"
#define LINE_HOST "notify-api.line.me"
#define LINE_KEY "XXX"

#endif